---
const currentYear = new Date().getFullYear();
---

<footer
  class="text-gray-800 py-16 border-t border-primary-200 flex flex-col items-center justify-center"
>
  <p class="text-center">
    <span class="text-primary-400">&copy; {currentYear}</span> 21 Días Psicoeducación. Clínica de Psicología. Todos los derechos reservados.
  </p>
  <a
    href="https://adrianrocafull.es/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary-400"
  >
    Web desarrollada por <span class="font-bold">Adrian Rocafull</span>
  </a>
</footer>
