---
interface Props {
  emoji: string;
  title: string;
  description: string;
  url: string;
}

const { emoji, title, description, url } = Astro.props;
---

<a
  href={url}
  class="border border-primary-300 p-6 rounded-lg text-center hover:shadow-lg transition-all duration-300 flex-grow basis-full md:basis-[calc(33.333%-1.33rem)] lg:basis-[calc(25%-1.5rem)] cursor-pointer group"
>
  <span
    class="text-4xl mb-4 block transform transition-transform duration-300 group-hover:scale-110"
    aria-hidden="true">{emoji}</span>

  <h3 class="text-xl font-semibold mb-3 bg-gradient-to-r from-primary-600 to-primary-400 bg-clip-text text-transparent">
    {title}
  </h3>
  <p class="text-center md:text-left text-gray-600">
    {description}

  </p>
</a>

