---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import { Image } from "astro:assets";
---

<ServiceLayout
  service="Pedagogía"
  description="Apoyo pedagógico en Torrent para niños y adolescentes con dificultades de aprendizaje y necesidades educativas especiales. Clínica 21 Días Psicoeducación."
>
  <div class="w-full md:w-1/2">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">
      ¿Qué podemos ofrecer?
    </h2>
    <p class="mb-4">
      Nuestro equipo de pedagogía ofrece apoyo a niños y adolescentes con
      dificultades en el aprendizaje, adaptando estrategias a sus necesidades
      individuales.
    </p>

    <h2 class="text-2xl font-semibold text-gray-800 mb-4">
      Áreas de intervención
    </h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        Dificultades de aprendizaje específicas:
        <ul class="list-disc pl-6 mt-2">
          <li>Dislexia</li>
          <li>Discalculia</li>
          <li>Disgrafía</li>
          <li>Problemas de comprensión lectora</li>
        </ul>
      </li>
      <li>Técnicas y hábitos de estudio</li>
      <li>Motivación y autoestima académica</li>
      <li>Adaptaciones curriculares</li>
    </ul>

    <h2 class="text-2xl font-semibold text-gray-800 mb-4">
      Nuestros servicios
    </h2>
    <ul class="list-disc pl-6 mb-4">
      <li>Evaluación psicopedagógica</li>
      <li>Programas de intervención personalizados</li>
      <li>Asesoramiento a familias y docentes</li>
      <li>Seguimiento del progreso académico</li>
      <li>Orientación educativa</li>
    </ul>

    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Metodología</h2>
    <p class="mb-4">
      Trabajamos de forma individualizada, adaptando las estrategias a las
      necesidades específicas de cada estudiante. Utilizamos métodos innovadores
      y recursos didácticos variados para mantener la motivación y asegurar un
      aprendizaje efectivo.
    </p>

  </div>
  <Image
    height={500}
    width={500}
    src="/svg/kids.svg"
    alt="Pedagogía"
    class="object-cover w-1/2"
  />
</ServiceLayout>

