---
import Layout from "../../layouts/ServiceLayout.astro";
import {Image} from "astro:assets";
---

<Layout
  service="Terapia Cognitivo-Conductual"
  description="Terapia cognitivo-conductual en Torrent basada en evidencia científica. Identificación y cambio de pensamientos, emociones y conductas. Clínica 21 Días."
>
    <div class="w-full md:w-1/2">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        ¿Qué es la Terapia Cognitivo-Conductual?
      </h2>


      <p class="mb-4">
        La Terapia Cognitivo-Conductual es un enfoque basado en la evidencia
        científica que ayuda a identificar y modificar pensamientos, emociones y
        conductas disfuncionales.
      </p>

      <h2 class="text-2xl font-semibold text-gray-800 mb-4">¿Cómo funciona?</h2>
      <p class="mb-4">
        Se centra en el presente y en dotar al paciente de herramientas
        prácticas para afrontar sus dificultades. El terapeuta trabaja en
        colaboración con el paciente para identificar patrones de pensamiento
        negativos y desarrollar estrategias de afrontamiento más adaptativas.
      </p>

      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        ¿Para qué problemas es efectiva?
      </h2>
      <ul class="list-disc pl-6 mb-4">
        <li>Ansiedad</li>
        <li>Depresión</li>
        <li>Estrés</li>
        <li>Fobias</li>
        <li>Trastornos obsesivos</li>
        <li>Problemas de autoestima</li>
        <li>Otras dificultades emocionales y conductuales</li>
      </ul>
    </div>
    <Image
      height={200}
      width={200}
      class="object-cover w-1/2 max-w-80"
      src="/svg/corazon.svg"
      alt="Terapia Cognitivo-Conductual"
    />
</Layout>

